*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, Helvetica, sans-serif
}

.main{
  background-color: #333;
color:#DDD ;
padding:20px;
text-align:center  
}
nav{
    background-color:#DDD;
}
nav ul{
    padding:20px;
    text-align:center;
}

nav ul li{
display:inline-block;
padding:20px;
}
nav ul li:after{
    content:"|"
}
nav ul li:last-child:after{
    content:"";
}
article{
    padding:20px;
    background-color:#F6F6F6 ;
    border:1px solid #ccc;
    margin:20px;
}
article header{
    background-color: #E2E2E2;
    padding:10px;
}
article section{
    padding:10px;
}
footer{
    background-color:#333;
    color:#DDD;
    text-align: center;
    padding:10px;
}
